@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

#textocontraste {
    color: white;
    margin-left: 10px;
    margin-right: 32px;
    font-size: 14.4px;
}

.fas {
    color: white;
    margin-right: 2.88px;
}

.trilho {
    cursor: pointer;
}

.trilho.dark #textocontraste {
    color: white;
}

.trilho.dark .fas {
    color: white;
}

body.dark {
    background-color: black;
}

body.dark .navbar{
    background-color: black;
}

body.dark .my-5 {
    color: white;
}

body.dark .background-faq {
    border-top: 5px solid orangered;
    border-bottom: 5px solid orangered;
    height: 40vh;
    background-image: url(https://img.freepik.com/fotos-premium/imagem-borrada-de-gotas-de-chuva-no-para-brisa_59109-140.jpg?w=740);
    background-size: cover;
}

body.dark .accordion-button {
    background-color: black;
    color: white;
}

body.dark .accordion-body {
    background-color: black;
    color: white;
}

body.dark #title-faq {
    color: orangered;
}

body.dark .form {
    background-color: black;
    border-top: 2px solid orangered;
    border-radius: 0px;
  }

body.dark .sendMessage-btn {
    outline: 2px solid orangered;
}

body.dark .sendMessage-btn:hover {
    color: rgb(223, 74, 20);
}

body.dark .form-field {
    background-color: black;
    border: 2px solid orangered;
}

.container {
    padding: 70px 15px;
}

/* Navbar */
#nav-container {
    height: 70px;
}

header, .navbar {
    background-color: #060142;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
}

.logo {
    margin-left: 32px;
}

#NKlogo {
    margin-top: 7px;
    margin-left: 10px;
    width: 105px;
    height: 37px;
}

.navbar-brand {
    padding: 0;
    color: #ffff;
}

.navbar-brand:hover {
    transform: scale(1.05);
    transition: 0.6s all;
}

#navbar-links a {
    color: #fff;
}

#navbar-links a:hover {
    background-color: #fff;
    color: black;
    transition: 0.6s all;
}

#navbar-links {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 10px;
}

/* Botão de acessibilidade */
#acessibilidade {
    margin-top: 10px;
}

#contraste {
    margin-right: 10px;
}

#textocontraste {
    color: white;
    margin-left: 10px;
    margin-right: 32px;
    font-size: 14.4px;
}

.fas {
    color: white;
    margin-right: 2.88px;
}

/*background image*/

.background-faq {
    border-top: 5px solid #006cb4;
    border-bottom: 5px solid #006cb4;
    height: 40vh;
    background-image: url(https://img.freepik.com/fotos-premium/imagem-borrada-de-gotas-de-chuva-no-para-brisa_59109-140.jpg?w=740);
    background-size: cover;
}

#background-title  {
    color: #fff;
    font-size: 60px;
}
/*Tópicos*/
.accordion.accordion-flush {
    margin-top: 3rem;
}

#title-faq {
    padding-left: 5px;
    color: #006cb4;
}

/*contatos*/
.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #060142;
    border-radius: 20px;
  }
  
  .form-heading {
    text-align: center;
    margin: 2em;
    color: #fff;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    outline: 1px solid #006cb4;
    transition: all ease-in-out 0.3s;
  }
  
  .sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    color: grey;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .form-card1 {
    background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
    border-radius: 22px;
    transition: all 0.3s;
  }


  @media screen and (max-width:992px){
    #textocontraste {
        display: none;
    }
    
}

@media screen and (max-width:992px){
    .fas {
        margin-right: 30px;
    }
    
}