*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: aliceblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30vh;

}

section #introdução {
    width: 2000px;
    background-color: #fff;
}


nav {
    width: 1000px;
}

.container{
    border: 1px solid blue;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    padding: 20px;
    margin: 100px;
}

.tabela{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(17, 0, 255);
}

.tab_btn{
    padding: 12px;
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: 10px;
    border: none;
    background: none
}

.conteudobox{
    padding: 10px;
    height: 20rem;

}

.conteudobox .registrados{
    align-items: center;
    display: none;
    margin-top: 2rem;
    margin-left: 11.5rem;

}

.conteudobox .registrados.active{
    display: block;
}

.tab_btn.active{
    color: blue;
}

nav .buscaserv {
    background-color:#ffffff;
    border:solid 1px;
    width: 35rem;
    height: 2rem;
    margin-top: 7rem;
  }
  
#txtserv{
    float:left;
    background-color:transparent;
    padding-left: 10rem;
    font-size:20px;
    border:none;
    margin-right: 6.6rem;
}

#lupa {
    background-color: gray;
    font-size: 20px;
    border: grey;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}


.register-container {
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(245, 225, 225);
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#regisbtn button{
    margin-top: 1rem;
    background-color: blue;
    color: #fff;
    width: 15rem;
    border-radius: 15px;
    border: none;
    height: 2.5rem;
    cursor: pointer;
}


.record {
    margin-top: 5rem;
    margin-left: -32rem;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.id, .nome, .cor, .chassi {
    margin: 5px 0;
}

.id {
    font-weight: bold;
    color: #333;
}

.nome {
    font-size: 1.2em;
    color: #555;
}

.cor {
    color: #007bff;
}

.chassi {
    color: #1bff06;
}

.marca {
    color: #536753;
}

.record button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.record button:hover {
    background-color: #c82333;
}
