@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

header, .navbar {
    background-color: #060142;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
}

.btn {
    border: 1px solid white;
}

.logo {
    margin-left: 32px;
}

#contraste {
    margin-right: 10px;
}

#textocontraste {
    color: white;
    margin-left: 10px;
    margin-right: 32px;
    font-size: 14.4px;
}

.fas {
    color: white;
    margin-right: 2.88px;
}

#login {
    margin-top: 40px;
}

#logindiv {
    display: flex;
    justify-content: center;

}
 
#main-signin, h3 {
    font-size: 18.72px;
    margin-bottom: 20px;
}

#iconcpf {
    margin-right: 10px;
}

#textocpf1 {
    font-size: 16px;
}

#textocpf2 {
    font-size: 12.8px;
    margin-top: 12.8px;
    margin-bottom: 12.8px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

#input1 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#input2 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#input3 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#input4 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#input5 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#input6 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#input7 {
    display: flex;
    flex-direction: column;
}

#login-button-panel {
    justify-content: end;
}

#iconcpfblack {
    display: none;
}

.button-panel{
    display: flex;
    margin-top: 30px;
    margin-bottom: 25px;
}

#enter-account-id {
    color: white;
    background-color: #060142;
    background-image: none;
    padding-block-end: 7px;
    padding-block-start: 7px;
    padding-inline-start: 26px;
    padding-inline-end: 26px;
    border-bottom-left-radius: 24px;
    border: none;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    font-size: 16px;
    font-weight: 700;
}

#accountId {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 16px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #666668;
}

.card {
    border-radius: 0%;
    border: 2px solid #060142;
}

#logincpf {
    padding: 20px;
    padding-inline: 40px;
}

#cadastro {
    font-size: 16px;
    text-align: center;
}

#botaocadastro {
    color: #060142;
    cursor: pointer;
    text-decoration: underline;
}


@media screen and (max-width:991px){
    .card {
        border-radius: 5%;
        border: 1px solid #060142;
      }      
}

@media screen and (max-width:575px){
    .card {
        border-radius: 0%;
        border: 1px solid #060142;
      }      
}

@media screen and (max-width:992px){
    #imagem {
        display: none;
      }      
}

@media screen and (max-width:992px){
    #logindiv {
        margin-top: 50px;
        justify-content: center;
    }
}

@media screen and (max-width:992px){
    #logincpf {
        padding-inline: 20px;
    }
}

@media screen and (max-width:992px){
    h3 {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:992px){
    #textocpf2 {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

@media screen and (max-width:992px){
    #input1 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:992px){
    #input2 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:992px){
    #login-button-panel {
        justify-content: center;
} 
}

@media screen and (max-width:992px){
    #enter-account-id {
        padding-block-end: 7px;
        padding-block-start: 7px;
        padding-inline-start: 90px;
        padding-inline-end: 90px;
        border-bottom-left-radius: 24px;
        border-top-left-radius: 24px;
        border-bottom-right-radius: 24px;
        border-top-right-radius: 24px;
    }
    
}

@media screen and (max-width:992px){
    #textocontraste {
        display: none;
    }
    
}

@media screen and (max-width:992px){
    .fas {
        margin-right: 30px;
    }
    
}

.trilho {
    cursor: pointer;
}

.trilho.dark #textocontraste {
    color: white;
}

.trilho.dark .fas {
    color: white;
}

body.dark {
    background-color: black;
}

body.dark .navbar{
    background-color: black;
}

body.dark .card{
    background-color: black;
}

body.dark h3 {
    color: white;
}

body.dark #textocpf1 {
    color: orangered;
}

body.dark #textocpf2 {
    color: white;
}

body.dark label {
    color: white;
}

body.dark #enter-account-id {
    color: orangered;
    background-color: black;
    border: 1px solid orangered;
}

body.dark #iconcpf {
    display: none;
}

body.dark #iconcpfblack {
    display: inline;
    margin-right: 10px;
}

body.dark .card {
    border: 2px solid orangered;
}

body.dark #cadastro {
    color: white;
}

body.dark #botaocadastro {
    color: orangered;
}