@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zain" , sans-serif;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

header, .navbar {
    border-bottom: 4px solid;
    border-image: linear-gradient(45deg, red, yellow, green, blue) 1; 
    background-color: #060142;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
}

.trilho {
    cursor: pointer;
}

.btn {
    border: 1px solid white;
}

.logo {
    margin-left: 32px;
}

#contraste {
    margin-right: 10px;
}

#textocontraste {
    color: white;
    margin-left: 10px;
    margin-right: 32px;
    font-size: 14.4px;
}

.fas {
    color: white;
    margin-right: 2.88px;
}

.trilho.dark #textocontraste {
    color: white;
}

.trilho.dark .fas {
    color: white;
}

body.dark {
    background-color: black;
}

body.dark .navbar{
    background-color: black;
}

body.dark .my-5 {
    color: white;
    background-color: black;
}

body.dark #others-title {
    color: orangered;
    margin-bottom: 48px;
    text-align: center;
}

body.dark span {
    color: orangered;
}

body.dark #golpe-title {
    color: orangered;
}

body.dark main {
    background-color: black;
}

body.dark #others {
    background-color: black;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

body.dark #textobugadodokrlvsf {
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

body.dark .background-faq {
    border-top : 5px solid orangered;
    border-bottom : 5px solid orangered;
}

body.dark #background-top{
    border : 2px solid orangered;
    background-color: black;

}

body.dark .Alerta p {
    color: orangered;
}

body.dark #background-mid {
    border: 2px solid orangered;
    background-color: black;
}

body.dark #background-mid p {
    color: #fff;
}

body.dark #background-mid p1 {
    color: rgb(0, 0, 0);
}

body.dark #background-curso-1 {
    background-color: black;
}

body.dark #background-curso-3 {
    background-color: black;
}

body.dark #background-curso-4 {
    background-color: black;
}

body.dark #background-curso-5 {
    background-color: black;
}

body.dark #background-curso-3 {
    background-color: black;
}

body.dark #texto {
    color: #ffffff;
}

body.dark .background-footer {
    background-color: rgb(0, 0, 0);
}

body.dark .logos-footer-color {
    color: orangered;
}

body.dark #Sobre-destaque {
    color: orangered;
}

body.dark #Contatosfooter {
    color: orangered;
}

body.dark .copyright {
    color: orangered;
}

body.dark .sobre-footer-color {
    color: white;
}

body.dark .card {
    color: #ffffff;
}

body.dark .card-mobile {
    color: black;
}

body.dark #Content p  {
    color: #ffffff;
}

body.dark #atendimento-presencial a {
    color: orangered;
}

body.dark #Content #Ob1 {
    color: orangered;
}

body.dark p #Ob1-3  {
    color: orangered
}


body.dark #Ob1-3 a {
    color: orangered
}
body.dark #Ob1-3 p {
    color: orangered
}

body.dark #Ob2-2 a {
    color: orangered;
}

body.dark #Content-2 #Ob2-1  {
    color: orangered;
}



body.dark #Ob3-2 a {
    color: #ffffff;
}



#background-top{
    margin-top: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 99%;
    height: 15rem;
    border-bottom: solid #ffff02;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 3;
}

#volante{
    display: flex;
    height: 12rem;
    border-radius: 10px;

}
.Alerta p{
    display: flex;
    font-size: 3.6vh;
    margin-top: 12px;
    margin-left: 30px;
    font-weight: bold;
    color: #e8e808;
}

.Alerta{
    margin-bottom: 75.6vh;
}

#background-mid{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 120vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Ob1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    color: #006cb4;
}

#atendimento-presencial {
    justify-content: center;
    text-align: center;
}

#Content{
    margin-right: 10px;
    flex-direction: column;
    font-size: 15px;
    justify-content: left;
}


.Content a{
    font-weight: bold;
    color: #006cb4;
}

#Ob1-2{
    background-color: #b40000;
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    color: #ffffff;
}

body.dark #Ob1-2{
    background-color: #000000;
    color: orangered;
}

#Ob1-3{
    font-size: 13px;
    text-align: center;
    border: 1px solid #b40000;
    border-top: none;
}

body.dark #Ob1-3{
    background-color: #000000;
    border: 1px solid orangered;
    color: orangered;
}

.Content-2{
    margin-left: 40px;
    text-align: left;
    font-size: 16px;
}

.Content-2 a{
    text-decoration: underline;
    font-weight: bold;
    color: #006cb4;
}

#Ob2-1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    color: #006cb4;
}

#Ob2-2{
    text-align: center;
    font-size: 15px;
}

#Ob2-3{
    background-color: #b40000;
    border: 1px solid #b40000;
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    color: #ffffff;
}

body.dark #Ob2-3{
    background-color: #000000;
    border: 1px solid orangered;
    color: #ffffff;
}


#Ob2-4{
    font-size: 13px;
    text-align: center;
    border: #b40000 solid 1px;
    border-top: none;
    padding-right: 5px;
}

body.dark #Ob2-4{
    background-color: #000000;
    border: orangered solid 1px;
    color: #ffffff;
}

body.dark #Content-3 p {
    color: #ffffff;
}

body.dark #Content-3 #Ob3-1 {
    color: orangered;
}

.Content-3{
    margin-left: 40px;
    text-align: left;
    font-size: 16px;
}

.Content-3 a{
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    color: #006cb4;
}

#Ob3-1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    color: #006cb4;
}

#Ob3-2{
    text-align: center;
    font-size: 15px;
}



/*mobile*/

body.dark #others-title-mobile {
    color: orangered;
    margin-bottom: 48px;
    text-align: center;
}

body.dark span {
    color: orangered;
}

body.dark #golpe-title-mobile  {
    color: orangered;
}

body.dark main {
    background-color: black;
}

body.dark #others-mobile  {
    background-color: black;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

body.dark #textobugadodokrlvsf {
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

body.dark .background-faq-mobile  {
    border-top : 5px solid orangered;
    border-bottom : 5px solid orangered;
}

body.dark #background-top-mobile {
    border : 2px solid orangered;
    background-color: black;

}

body.dark .Alerta-mobile  p {
    color: orangered;
}

body.dark #background-mid-mobile  {
    border: 2px solid orangered;
    background-color: black;
}

body.dark #background-mid-mobile  p {
    color: orangered;
}

body.dark #background-mid-mobile  p1 {
    color: rgb(0, 0, 0);
}

body.dark #background-curso-1-mobile  {
    background-color: black;
}

body.dark #background-curso-3-mobile  {
    background-color: black;
}

body.dark #background-curso-4-mobile  {
    background-color: black;
}

body.dark #background-curso-5-mobile  {
    background-color: black;
}

body.dark #background-curso-3-mobile  {
    background-color: black;
}

body.dark #texto-mobile  {
    color: orangered;
}

body.dark #atendimento-presencial-mobile {
   background-color: #000000;
}

body.dark #Content-mobile {
    background-color: #000000;
}

body.dark #Ob1-3-mobile {
    background-color: #000000;
}

body.dark #Ob1-3-mobile p {
    color: #fff;
}

body.dark .card-mobile {
    background-color: #000000;
}

body.dark #Ob1-2-mobile {
    background-color: #000000;
}

body.dark #Content-2-mobile {
    background-color: #000000;
}

body.dark #Ob2-1-mobile {
    color: orangered;
}

body.dark #Ob2-2-mobile a {
    color: orangered;
}

body.dark #Ob2-2-mobile{
    color: #fff;
}

body.dark #Ob2-4-mobile {
    color: orangered;
}

body.dark #Ob2-3-mobile {
    color: orangered;
    background-color: #000000 ;
}

body.dark #Content-3-mobile {
    background-color: #000000;
}

body.dark #Ob3-1-mobile {
    background-color: #000000;
    color: orangered;
}

body.dark #Ob3-2-mobile {
    color: #fff;
}

body.dark #Ob3-2-mobile a {
    color: orangered;
}

body.dark .background-footer {
    border-top: 4px solid orangered;
}

body.dark #atendimento-presencial-mobile a {
    color: orangered;
}


body.dark #Ob1-3-mobile a {
    color: #ffffff;
}

body.dark #Content-mobile #Ob1-mobile {
    color: orangered;
}




#atendimento-presencial-mobile {
    justify-content: center;
    text-align: center;
}

.mobile {
    display: none;
}

#Ob1-mobile{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    color: #006cb4;
}


#background-mid-mobile {
    background: #f4f4f4;
    padding: 20px 0;
}

.content-section-mobile {
    margin-bottom: 20px;
}

#Ob2-1-mobile{
    font-size: 2vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #006cb4;
}

#Ob2-2-mobile{
    text-align: center;
    font-size: 15px;
}

#Ob3-1-mobile{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    color: #006cb4;
}
#Ob3-2-mobile{
    text-align: center;
    font-size: 15px;
}


#Content-mobile, #Content-2-mobile, #Content-3-mobile {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-mobile {
    background: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card-header-mobile {
    background-color: #b40000;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    height: 30px;
}

.card-body-mobile {
    border: 1px solid #b40000;
    font-size: 1em;
    padding: 5px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {

    #principal {
        display: none;
    }

    .mobile {
        display: block;
    }

    .content-section-mobile {
        padding: 0 10px;
    }

    #Content-mobile, #Content-2-mobile, #Content-3-mobile {
        padding: 15px;
    }

    .card-mobile {
        padding: 10px;
    }

    #volante {
        display: none;
    }

}




/*footer*/

.background-footer {
    margin-top: 10px;
    border-top: 4px solid;
    border-image: linear-gradient(45deg, red, yellow, green, blue) 1;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logos-footer,
.sobre-footer,
.contatos-footer {
    flex: 1 1 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.logos-footer a,
.sobre-footer a,
.contatos-footer a {
    color: #003cff;
    text-decoration: none;
    margin: 5px 0;
}

.logos-footer a:hover,
.sobre-footer a:hover,
.contatos-footer a:hover {
    text-decoration: underline;
}

#Sobre-destaque,
#Contatosfooter {
    font-weight: bold;
    margin-bottom: 10px;
    color: #003cff;
}

.logos-footer i {
    font-size: 24px;
    margin: 5px 0;
}

.copyright {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 12px;
    color: #003cff;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
    .background-footer {
        flex-direction: column;
        align-items: center;
    }
    .logos-footer,
    .sobre-footer,
    .contatos-footer {
        flex: 1 1 100%;
        align-items: center;
    }
    .copyright {
        margin-top: 10px;
    }
}
