
#fique-atento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-alerts {
    display: flex;
    justify-content: baseline;
}

.title-alerts h2 {
    margin-bottom: 0rem;
    color: #006cb4;
    border-bottom: 2px solid blue;
    width: 240px;
    padding: 5px;
}

.card {
    width: 100%;
    max-width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: inherit;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
}


.card .card-header span {
    padding-left: 5px;
}

.card .card-header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.card .card-header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.card .card-body {
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.card #body-green {
    margin-top: 5px;
}

.card.green {
    border: 2px solid #4CAF50 ;
}

.card.yellow {
    border: 2px solid #FFC107 ;
}



.card.green .card-header {
    background-color: #4CAF50;
    color: white;
}

.card.yellow .card-header {
    background-color: #FFC107;
    color: white;
}

.card ul {
    padding: 0;
}

.card ul li {
    margin-left: 1rem;
}

/* Responsividade*/
@media (max-width: 768px) {
    .card ul li {
        margin-left: 2rem;
    }
    
    .card {
        width: 100%;
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .card ul li {
        margin-left: 2rem;
    }
    .card .card-header {
        padding: 15px;
    }

    .card .card-body {
        padding: 25px;
    }

    .card .card-body h3 {
        font-size: 20px;
    }

    .card ul li {
        margin: 3px 0;
    }
}
