.container {
    margin-top: 2rem;
}

.container-serv {
    border: 2px solid blue;
    margin-top: 2rem;
    height: auto;
    width: 800px;
    margin-bottom: 1rem;

    background-color: #fff;
}

.tab-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.tab-buttons button {
    background-color: #006cb4;
    border: 0;
    width: 50%;
    height: 3rem;
    font-size: 18px;
    color: #fff;
}

#hab-btn {
    background-color: #972800;
}

.content {
    display: none;
}

.content.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.content-wrapper {
    width: 100%;
}

.content-wrapper-red {
    width: 100%;
}


.content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.content-wrapper .content-title.not-registered {
    color: #006cb4;
}

.content-wrapper .content-title.registered {
    color: #006cb4;
}



.content-wrapper-red .content-title.not-registered {
    color: #972800;
}

.content-wrapper-red .content-title.registered {
    color: #972800;
}

.content-title h3 {
    margin: 0;
}

.cards-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.cards-group-red {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}


.cards-box {
    border-radius: 5px;
    padding: 1rem;
    width: 150px;
    color: #006cb4;
    text-align: center;
    box-shadow: 0 0 5px #888585;
}

.cards-box.registered {
    color: #006cb4;
}


.cards-group-red .cards-box.registered {
    color: #972800;
}


.cards-box.not-registered {
    color: #006cb4;
}

.cards-group-red .cards-box.not-registered {
    color: #972800;
}

.cards-box:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

.cards-box p {
    text-align: center;
}

#cardicon {
    font-size: 45px;
}

#services {
    display: flex;
    justify-content: center;
}