/* Slider */

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 220px;
    display: flex;
}

.slides input {
    display: none;
}

.slideimagem{
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.slideimagem img {
    width: 800px;
}

.manualnav {
    position: absolute;
    width: 800px;
    margin-top: -33px;
    display: flex;
    justify-content: center;
}

.manualbtn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.manualbtn:not(:last-child) {
    margin-right: 20px;
}

.manualbtn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;

}

#radio2:checked ~ .first{
    margin-left: -25.133%;

}

#radio3:checked ~ .first {
    margin-left: -49.9%;

}

.nav-auto div {
    border: 2px solid #1802dd ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 187px;
    display: flex;
    justify-content: center;
}

.nav-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #fff;
}
