@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.container-tabs {
    margin-top: -8rem;
    margin-bottom: 1rem;
    background-color: #fff;
    width: 42rem;
    height: 60rem;
    border: 1px solid #006cb4;;
    display: grid;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;

}

.tab-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-box button{
    margin-top: -1rem;
    background-color: #006cb4;
    border: 0;
    width: 21rem;
    height: 3rem;
    font-size: 18px;
    color: #fff;
}

#hab-btn {
    background-color: #972800;
}

.content h3 {
    margin-left: 5rem;
    color: #006cb4; 
}

.content p {
    color: #006cb4;
    margin-left: 10px;
}

.content2 h3 {
    margin-top: -3.7rem;
    margin-left: 26rem;
    color: #434343; 
}

.content2 p {
    color: #434343;
    margin-left: 22.5rem;
}

.content-box {
    display: grid;
    grid-template-columns: 360px 200px;
}

.cards-box {
    border-radius: 5px;
    margin-left: 2.5rem   ;
    justify-content: center;
    margin-top: 2rem;
    width: 12rem;
    color: #006cb4;
    text-align: center;
    box-shadow: 0 0 5px #888585;
}

.cards-box:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

.cards-box p {
    text-align: center;
}

#cardicon {
    font-size: 45px;
    
}
